.gallery {
    &__container {
        padding: 3rem;
        width: 100%;

        img {
            width: 90%;
        }

        @include respond(ipad) {
            padding: 0; 

            img {
                width: 100%;
            }
        }
    }

    /* ============= G A L L E R Y  T H U M B N A I L ============= */


    &__visor {
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
        //height: 70%;
    }
}

