/* ==================================
//////////// Family-fonts ///////////
================================== */
/* ---- Aileron ---- */
@font-face {
  font-family: "Aileron-regular";
  src: url('../fonts/aileron/Ailerons-Typeface.otf') format('opentype');
}

/* ---- Avenir LT Pro ---- */
@font-face {
  font-family: "Avenir-lt-pro-roman";
  src: url('../fonts/avenir-lt-pro-cufonfonts-webfont/AvenirLTProRoman.woff') format('opentype');
}

body {
  font-family: "Avenir-lt-pro-roman", sans-serif;
  // font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  color: $color-primary;
}

.heading-primary {
  font-family: 'Aileron-regular', sans-serif;
  font-size: 6rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-secondary {

}

