.navigation {

    &__btn {
        
        position: fixed;
        width: 100%;
        overflow: hidden;
        bottom: 0;
        left: 0;

        @include respond(ipad) {
            padding-bottom: 4rem;
            background-color: $color-secondary;
        }

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-secondary;
            margin: 2vh;
            border-left: 4px solid $color-primary;
            border-right: 4px solid $color-primary;
            border-bottom: 4px solid $color-primary;

            @include respond(ipad) {
                border: none;
                margin: 0;
            }
        }
        
        img {
            width: 25rem;
            margin-bottom: 2rem;
            text-decoration: none; 
            cursor: pointer;  
            
            @include respond(ipad) {
                margin-bottom: 0rem;
            }

            @include respond(iphone-plus) {
                width: 15rem; 
            }
        }
    }

    &__sidebar {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        background-color:$color-tertiary;
        overflow-x: hidden;
        transition: 0.6s;
        z-index: 1000;

        a {
            text-decoration: none;
            color: $color-secondary;
        }


        p {
            color: $color-secondary; 
        }
           
      }

      &__bar {
        display: grid;
        grid-row: 0.2 2fr 0.2;
        max-height: 50vh;

        @include respond(iphone-plus) {
            max-height: 100vh;
        }
      }
     
    &__btn-container {
        transition: margin-left .5s;
        padding: 16px;
      }

    &__links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        padding-left: 20vw;
        padding-right: 20vw;
        column-gap: 4rem;

        @include respond(ipad) {
            padding-left: 10vw;
            padding-right: 10vw; 
        }

        @include respond(iphone-plus) {
            padding-left: 5vw;
            padding-right: 5vw; 
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
        }
        
        a {
            font-size: 2.5rem;
            border-bottom: 3px solid $color-secondary;
            height: 5rem;
            padding-top: 0.5rem;
            transition: all ease 0.3s;

            &:hover {
                border: 3px solid $color-secondary;  
            }

            @include respond(iphone-plus) {
                font-size: 2rem;
                height: 4rem;
            }
        }
    }


    &__footer {
        display: flex;
        align-items: center;
        justify-content: center; 
        font-size: 2.5rem;  
        img {
            transform: translateY(1rem);
            width: 3rem;
        }

        @include respond(iphone-plus) {
            font-size: 1.6rem;
            img {
                transform: translateY(0.5rem);
                width: 2rem;
            }
        }
    }
}

.closebtn {
    display: flex;
    align-items: center;
    justify-content: center;   
    
    width: 100%;

    img {
        width: 25rem;
        margin-bottom: 2rem;
        margin-top: 0rem;
        text-decoration: none; 
    }

    @include respond(iphone-plus) {
        font-size: 1.6rem;
        img {
            margin-top: 10vh;
            width: 15rem;
        }
    }
  }

  .openbtn {
      height: 100%;
      cursor: pointer;
  }


  